Node-RED Flow Final/Node-RED Flow Final.txt
[{"id":"63bba394.d6d61c","type":"websocket in","z":"9cf88300.a225b","name":"","server":"3ed17b8f.0965f4","client":"","x":240,"y":120,"wires":[["dc138a50.bef138","ebfd2297.fa26"]]},{"id":"dc138a50.bef138","type":"debug","z":"9cf88300.a225b","name":"input-log","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":440,"y":60,"wires":[]},{"id":"ebfd2297.fa26","type":"json","z":"9cf88300.a225b","name":"","property":"payload","action":"obj","pretty":false,"x":430,"y":120,"wires":[["5df45230.0e79bc"]]},{"id":"5df45230.0e79bc","type":"function","z":"9cf88300.a225b","name":"controlHandler","func":"if(msg.payload.CtrlHandler) {\n    var newMsg = { payload: msg.payload, topic: \"ctrlHandler\" };\n    return newMsg;\n}\nelse {\n    return msg;\n}","outputs":1,"noerr":0,"x":620,"y":120,"wires":[["c58e60ad.bc175"]]},{"id":"c58e60ad.bc175","type":"switch","z":"9cf88300.a225b","name":"controlDispatcher","property":"topic","propertyType":"msg","rules":[{"t":"cont","v":"ctrlHandler","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":290,"y":260,"wires":[["b9dc868d.5bb5b8"],["15d0e00b.c636"]]},{"id":"b9dc868d.5bb5b8","type":"function","z":"9cf88300.a225b","name":"calcControl","func":"// calculate drive directions for simulator\nvar newMsg = { payload: msg.payload };\n\n\n// ctrl: \"move-ahaed\"\nif(msg.payload.z > 5) {\n   // msg.payload = ;\n    newMsg = { payload: \"move-ahead\" };\n}\n// ctrl: \"move-left\"\nelse if(msg.payload.y < -2) {\n   // msg.payload = ;\n    newMsg = { payload: \"turn-right\" };\n}\n// ctrl: \"move-right\"\nelse if(msg.payload.y > 2) {\n   // msg.payload = ;\n    newMsg = { payload: \"turn-left\" };\n}\n// ctrl: \"move-back\"\nelse if(msg.payload.z < -0) {\n   // msg.payload = ;\n    newMsg = { payload: \"drive-back\" };\n}\n// ctrl: \"neutral\"\nelse {\n    newMsg = { payload: \"neutral\" };\n}\n\n\nreturn newMsg;\n\n","outputs":1,"noerr":0,"x":510,"y":260,"wires":[["f6f13830.9133b8"]]},{"id":"f6f13830.9133b8","type":"websocket out","z":"9cf88300.a225b","name":"Simulator Output WebSocket","server":"9144b361.06828","client":"","x":1320,"y":260,"wires":[]},{"id":"15d0e00b.c636","type":"watson-speech-to-text","z":"9cf88300.a225b","name":"speech2text","alternatives":1,"speakerlabels":false,"smartformatting":true,"lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","band":"BroadbandModel","bandhidden":"BroadbandModel","password":"2i4vmfq6xzap","apikey":"","payload-response":true,"streaming-mode":false,"streaming-mute":true,"auto-connect":false,"discard-listening":false,"disable-precheck":true,"default-endpoint":true,"service-endpoint":"https://stream.watsonplatform.net/speech-to-text/api","x":290,"y":360,"wires":[["c7af0feb.49816","c068b4f1.fe3de8"]]},{"id":"c7af0feb.49816","type":"switch","z":"9cf88300.a225b","name":"ruleBasedController","property":"payload","propertyType":"msg","rules":[{"t":"regex","v":"radio.*on|on.*radio","vt":"str","case":true},{"t":"regex","v":"radio.*off|off.*radio","vt":"str","case":true},{"t":"regex","v":"ahead|forward","vt":"str","case":true},{"t":"regex","v":"turn.*right|right.*turn|right","vt":"str","case":true},{"t":"regex","v":"turn.*left|left.*turn|left","vt":"str","case":true},{"t":"regex","v":"drive.*back|reverse|.*back.*","vt":"str","case":true},{"t":"regex","v":"light.*on|turn.*light.*on","vt":"str","case":true},{"t":"regex","v":"light.*off|turn.*light.*off","vt":"str","case":true},{"t":"else"}],"checkall":"true","repair":false,"outputs":9,"x":550,"y":360,"wires":[["640a0259.f07a7c"],["7694efa2.78f2b"],["752e1f52.d0ad8"],["381e356b.629d0a"],["f5d5e05b.b2bc5"],["3ba40c60.fd8144"],["166f0414.e9fc6c"],["cae9d817.1b9fd8"],["d7159912.3a4788"]]},{"id":"640a0259.f07a7c","type":"change","z":"9cf88300.a225b","name":"radio-on","rules":[{"t":"set","p":"payload","pt":"msg","to":"radio-on","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":300,"wires":[["8bf75fd7.71f27"]]},{"id":"7694efa2.78f2b","type":"change","z":"9cf88300.a225b","name":"radio-off","rules":[{"t":"set","p":"payload","pt":"msg","to":"radio-off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":340,"wires":[["8bf75fd7.71f27"]]},{"id":"752e1f52.d0ad8","type":"change","z":"9cf88300.a225b","name":"move-ahead","rules":[{"t":"set","p":"payload","pt":"msg","to":"move-ahead","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":380,"wires":[["8bf75fd7.71f27"]]},{"id":"381e356b.629d0a","type":"change","z":"9cf88300.a225b","name":"turn-right","rules":[{"t":"set","p":"payload","pt":"msg","to":"turn-right","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":420,"wires":[["8bf75fd7.71f27"]]},{"id":"f5d5e05b.b2bc5","type":"change","z":"9cf88300.a225b","name":"turn-left","rules":[{"t":"set","p":"payload","pt":"msg","to":"turn-left","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":460,"wires":[["8bf75fd7.71f27"]]},{"id":"3ba40c60.fd8144","type":"change","z":"9cf88300.a225b","name":"drive-back","rules":[{"t":"set","p":"payload","pt":"msg","to":"drive-back","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":500,"wires":[["8bf75fd7.71f27"]]},{"id":"166f0414.e9fc6c","type":"change","z":"9cf88300.a225b","name":"light-on","rules":[{"t":"set","p":"payload","pt":"msg","to":"light-on","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":540,"wires":[["8bf75fd7.71f27"]]},{"id":"cae9d817.1b9fd8","type":"change","z":"9cf88300.a225b","name":"light-off","rules":[{"t":"set","p":"payload","pt":"msg","to":"light-off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":580,"wires":[["8bf75fd7.71f27"]]},{"id":"d7159912.3a4788","type":"change","z":"9cf88300.a225b","name":"unknown-command","rules":[{"t":"set","p":"payload","pt":"msg","to":"Command not specified. Please repeat command. Thx.","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":620,"wires":[["426b8c8d.7a10b4"]]},{"id":"426b8c8d.7a10b4","type":"debug","z":"9cf88300.a225b","name":"CommandNotSpecified","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1090,"y":620,"wires":[]},{"id":"8bf75fd7.71f27","type":"function","z":"9cf88300.a225b","name":"castMessage","func":"var newMsg = { payload: msg.payload };\nreturn newMsg;","outputs":1,"noerr":0,"x":1070,"y":460,"wires":[["f6f13830.9133b8"]]},{"id":"c068b4f1.fe3de8","type":"debug","z":"9cf88300.a225b","name":"spee2text analized output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":550,"y":500,"wires":[]},{"id":"641fa480.f0698c","type":"inject","z":"9cf88300.a225b","name":"Start TrainigModel","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":740,"wires":[["700fb66.9a6d148"]]},{"id":"700fb66.9a6d148","type":"change","z":"9cf88300.a225b","name":"setClassifierName","rules":[{"t":"set","p":"params","pt":"msg","to":"{'name':'bfh'}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":740,"wires":[["e432c652.1f6348"]]},{"id":"e432c652.1f6348","type":"dropbox","z":"9cf88300.a225b","dropbox":"","filename":"positive.zip","name":"postive TrainigData","x":670,"y":740,"wires":[["fbeda4bd.14cdd8"]]},{"id":"fbeda4bd.14cdd8","type":"change","z":"9cf88300.a225b","name":"setPostive","rules":[{"t":"set","p":"params.bfh_positive_examples","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":740,"wires":[["8953f250.b1eee"]]},{"id":"8953f250.b1eee","type":"dropbox","z":"9cf88300.a225b","dropbox":"","filename":"negative.zip","name":"negative TrainigData","x":1120,"y":740,"wires":[["4c718d89.a364d4"]]},{"id":"4c718d89.a364d4","type":"change","z":"9cf88300.a225b","name":"setNegative","rules":[{"t":"set","p":"params.negative_examples","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1330,"y":740,"wires":[["df86aa82.53b368"]]},{"id":"2564c55c.66470a","type":"debug","z":"9cf88300.a225b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"result","x":1740,"y":740,"wires":[]},{"id":"df86aa82.53b368","type":"visual-recognition-util-v3","z":"9cf88300.a225b","name":"create Classifier","apikey":"pA7oehQQWf3iuTDyMnzjpbMRBJTvFh8WwKspGF4gmMGw","vr-service-endpoint":"https://gateway.watsonplatform.net/visual-recognition/api","image-feature":"createClassifier","x":1540,"y":740,"wires":[["2564c55c.66470a"]]},{"id":"2c5c748f.3f700c","type":"visual-recognition-util-v3","z":"9cf88300.a225b","name":"getClassifierList","apikey":"__PWRD__","vr-service-endpoint":"https://gateway.watsonplatform.net/visual-recognition/api","image-feature":"retrieveClassifiersList","x":420,"y":820,"wires":[["ffd1e2e.efa142"]]},{"id":"d1da40f0.86194","type":"inject","z":"9cf88300.a225b","name":"Get Classifier List","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":190,"y":820,"wires":[["2c5c748f.3f700c"]]},{"id":"ffd1e2e.efa142","type":"debug","z":"9cf88300.a225b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"result","x":650,"y":820,"wires":[]},{"id":"cfa6319c.21d47","type":"websocket in","z":"9cf88300.a225b","name":"","server":"2f054b7c.57db94","client":"","x":190,"y":920,"wires":[["32d2a13c.1cd64e"]]},{"id":"32d2a13c.1cd64e","type":"function","z":"9cf88300.a225b","name":"bufferToString","func":"msg.payload = msg.payload.toString();\nclsId = \"bfh_1580935283\";\nmsg.params={};\nmsg.params[\"classifier_ids\"]=clsId;\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":920,"wires":[["56b9850e.7c224c"]]},{"id":"56b9850e.7c224c","type":"visual-recognition-v3","z":"9cf88300.a225b","name":"","apikey":"pA7oehQQWf3iuTDyMnzjpbMRBJTvFh8WwKspGF4gmMGw","vr-service-endpoint":"https://gateway.watsonplatform.net/visual-recognition/api","image-feature":"classifyImage","lang":"en","x":670,"y":920,"wires":[["112d4fde.16f7d","65752f82.38354"]]},{"id":"65752f82.38354","type":"switch","z":"9cf88300.a225b","name":"danger or not?","property":"result.images.0.classifiers.0.classes[0]","propertyType":"msg","rules":[{"t":"istype","v":"undefined","vt":"undefined"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":940,"y":920,"wires":[["858fd06b.b9ecb"],["96ffb2b7.e0507"]]},{"id":"858fd06b.b9ecb","type":"debug","z":"9cf88300.a225b","name":"no danger ahead. do nothing","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"result","x":1210,"y":920,"wires":[]},{"id":"112d4fde.16f7d","type":"debug","z":"9cf88300.a225b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"result","x":930,"y":960,"wires":[]},{"id":"96ffb2b7.e0507","type":"change","z":"9cf88300.a225b","name":"danger-in-front-of-you","rules":[{"t":"set","p":"payload","pt":"msg","to":"danger-in-front-of-you","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1200,"y":860,"wires":[["8bf75fd7.71f27"]]},{"id":"3ed17b8f.0965f4","type":"websocket-listener","z":"","path":"input-data","wholemsg":"false"},{"id":"9144b361.06828","type":"websocket-listener","z":"","path":"/simulator-data","wholemsg":"false"},{"id":"2f054b7c.57db94","type":"websocket-listener","z":"","path":"/img-recognition","wholemsg":"false"}]